<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head') %> 
<body>
	
	<%- include('./partials/header')  %> 
	
	<!-- Banner -->
	<div class="banner">
		<img src="images/banner.png" alt="Banner de ofertas">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 0; i < 12; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/detalle/<%= i %> ">
							<figure class="product-box_image">
								<img src="<%= listaProductos[i].img %>" alt="cafetera moulinex">
							</figure>
							<article class="product-box_data">
								<h2 class="nombrestyle"><%= listaProductos[i].nombre %> </h2>
								<p class="descripcionstyle"> <%= listaProductos[i].descripción %></p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<% for( let i = 4; i < 8; i++ ) { %>
				<div class="col-12 col-sm-6 col-lg-3">
					<section class="product-box">
						<a href="/product/detalle/<%= i %> ">
							<figure class="product-box_image">
								<img src="<%=listaProductos[i].img %> " alt="">
							</figure>
							<article class="product-box_data">
								<h2><%= listaProductos[i].nombre %> </h2>
								<p><%= listaProductos[i].descripción %> </p>
								<p>Comentarios: 12</p>
							</article>
						</a>
					</section>
				</div>
			<% } %>
			
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include('./partials/footer') %> 
</body>	
</html>