<!DOCTYPE html>
<html lang="es">

<%- include('./partials/head') %> 
<body>
	<% if (locals.user != undefined) { %>
		<%- include('./partials/header-logueado.ejs')  %> 
	<% }else { %>
		  <%- include('./partials/header.ejs')  %> 
	<% } %> 

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Ingresar</h2>
			</div>
			
			<div class="login">
				<h1>Login</h1>
				<% if(locals.errors){ %>
					<p class="mensajeError" style="color: red;"> <%= errors.message %>
					</p>
				<% } %>
				<form method="POST" action ="/users/login"  class="form-register">
					<input type="text" name="email" placeholder="Email" required="required" />
					<input type="password" name="password" placeholder="Contraseña" required="required" />
					<input type="checkbox" name="botonRecordame" value="first_checkbox"> Recordar esta cuenta </input> 
					
					<button type="submit" class="btn btn-primary btn-block btn-large">Iniciar sesión</button>
				</form>
				
			</div>
		

    </div>
	<!-- footer -->
	<%- include('./partials/footer') %> 
	<!-- /footer -->
</body>

</html>